root=.

filter=,-whitespace/newline # disagree with Google here, it makes code way too dense
filter=-runtime/references # using pointers instead of references is bad coding practice, even when the ref is non-const. Period.
                           # Only the need to interface with C code justifies it.
filter=-readability/inheritance # Override is NOT redundant with final, in presence of virtual keyword.
filter=-whitespace/parens # Disagree with Google on for( vs. for ( and on not placing closing paren on a newline
filter=-whitespace/braces # As above. Google style results in a wall of text here.
filter=-whitespace/line_length # Don't be ridiculous.
filter=-build/include_subdir # We use different build system than Google anticipates
